<a href="https://colab.research.google.com/github/TKM-MCA-2020-DATA-SCIENCE-LAB/20MCA301-ABHILASH_JOHN/blob/master/Naive_Bayes_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
dataset=pd.read_csv('/content/sample_data/iris.csv')

In [5]:
dataset

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [6]:
from pandas.core.common import standardize_mapping
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
scalar.fit(dataset.drop('variety',axis=1))

StandardScaler()

In [7]:
a=scalar.transform(dataset.drop('variety',axis=1))

In [8]:
new_data=pd.DataFrame(a,columns=dataset.columns[:-1])
new_data

     sepal.length  sepal.width  petal.length  petal.width
0       -0.900681     1.019004     -1.340227    -1.315444
1       -1.143017    -0.131979     -1.340227    -1.315444
2       -1.385353     0.328414     -1.397064    -1.315444
3       -1.506521     0.098217     -1.283389    -1.315444
4       -1.021849     1.249201     -1.340227    -1.315444
..            ...          ...           ...          ...
145      1.038005    -0.131979      0.819596     1.448832
146      0.553333    -1.282963      0.705921     0.922303
147      0.795669    -0.131979      0.819596     1.053935
148      0.432165     0.788808      0.933271     1.448832
149      0.068662    -0.131979      0.762758     0.790671

[150 rows x 4 columns]

In [9]:
from sklearn.model_selection  import train_test_split
x=new_data#=dt.Class
y=dataset['variety']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size= 0.3,random_state=90)

bernoulis-yes or no true or false

In [10]:
from sklearn.naive_bayes import GaussianNB,BernoulliNB,CategoricalNB
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import accuracy_score

In [11]:
# there are 3 predictiins are there so 3*3 confusion matrix

scores=[]
classifier=GaussianNB()
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)
scores.append(accuracy_score(y_test,y_pred))
cm=confusion_matrix(y_test,y_pred)
cm

array([[16,  0,  0],
       [ 0,  9,  0],
       [ 0,  1, 19]])

In [12]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00        16
  Versicolor       0.90      1.00      0.95         9
   Virginica       1.00      0.95      0.97        20

    accuracy                           0.98        45
   macro avg       0.97      0.98      0.97        45
weighted avg       0.98      0.98      0.98        45